* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Open Sans;
}

header {
  nav {
    a {
      padding: 15px;
      text-decoration: none;
      color: #464646;
      font-size: 16px;
    }

    .active {
      color: #2382f9;
      border-bottom: 3px solid #2382f9;
    }
  }
}

main {
}

.navIcon {
  background-color: #0282f9;
}
.BackgroundImage {
  background-image: url("/img/jumbotron.jpg");
  height: 500px;
  background-size: cover;
}

footer {
  background-image: url("/img/dc-logo-bg.png"), url("/img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-position: right bottom, center;
  background-size: 50%, cover;
  margin: 0;
}

li {
  color: white;
}

footer ul {
  list-style: none;
  padding: 0;
  a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
  }
}
.social a {
  padding: 6px;
}

.button {
  background-color: #303030;
  border: 2px solid #165ea2;
  color: white;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
  margin-top: 16px;
  height: 50px;
}

.follow {
  margin-top: 10px;
  color: #0084fc;
}

.card-img-top {
  width: 50%;
}

.currentSeries {
  background-color: #0084fc;
  border: 2px solid #0282f9;
  font-size: 22px;
  margin-top: -48px;
  position: absolute;
  color: white;
  width: 200px;
}
.loadMore {
  background-color: #0084fc;
  border: 2px solid #0282f9;
  font-size: 22px;

  color: white;
  width: 200px;
  text-align: center;
  align-content: center;
  margin-left: 40%;
}
